/* ==UserStyle==
@name           docs.ansible
@namespace      gitlab.com/queria/qs-userjs
@version        0.1.0
@description    in some cases tables in ansible docs display broken, this may fix them
@author         Queria Sa-Tas
==/UserStyle== */
@-moz-document domain("docs.ansible.com") {
    .return-value-column {
        height: auto !important;
    }
}
