/* ==UserStyle==
@name           rqj
@namespace      gitlab.com/queria/qs-userjs
@version        0.1.0
@author         Queria Sa-Tas
==/UserStyle== */
@-moz-document domain("rhos-qe-jenkins.rhev-ci-vms.eng.rdu2.redhat.com") {
    #side-panel .build-row-cell .pane.build-controls {
        width: auto;
    }
    #main-panel #script {
        width: 1200px;
        height: 550px;
    }
}
